# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc
*.deb
sdl_img
lua-5.4.6/src/lua
lua-5.4.6/src/luac

#ignore ~ files
*~
*.ppm
*.gif
*.jpg
*.png
*.tar
*.kate-swp
CMakeFiles/*
CMakeCache.txt
stats/*
build/*
!build/Makefile
!build/*.make
*.swp
tags
scratch/*

package/LICENSE*
package/README.md
package_linux/*

prototyping/sdl_img
prototyping/gui_test
prototyping/md5_test
prototyping/thumbnails
prototyping/testlconfig
prototyping/scandir
prototyping/fb_test
prototyping/nuklear_fb_test

