# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc

#ignore ~ files
*~
*.gif
*.kate-swp
CMakeFiles/*
CMakeCache.txt
stats/*
build/*
!build/Makefile
!build/*.make
*.swp

package/LICENSE*
package/README.md
