# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc
*.deb

#ignore ~ files
*~
*.ppm
*.gif
*.jpg
*.png
*.kate-swp
CMakeFiles/*
CMakeCache.txt
stats/*
build/*
!build/Makefile
!build/*.make
*.swp
tags

package/LICENSE*
package/README.md

misc/
sdl_img
gui_test
md5_test
thumbnails
